.edge_builder
{
    position:absolute !important;
    z-index:2147483646 !important;
    background-color:#0061ff !important;

}


.edge_builder2
{
    position:absolute !important;
    z-index:2147483646 !important;
    background-color:#990000!important;
}

.template-badge, .template-moreinfo {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    font-family: Verdana, sans-serif, Arial;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 12px !important;
    padding: 4px 8px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;    
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;        
    cursor: pointer;
    color:white;
}

.template-moreinfo{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;    
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;        
}

.template-badge-pink{
    background-color: #ff3f7c !important
}

.template-badge-red{
    background-color: rgb(252, 66, 57) !important;    
}

.template-moreinfo{
    background-color: #333333 !important;
}

.template-badge-blue{   
    background: #142540;    
}




.loading-overlay {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
}

.loading-overlay.is-active {
  display: flex;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    color:black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 