<div class="snipcss-modal__overlay" tabindex="-1">
  <div class="snipcss-modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
    <div class="snipcss-modal__header">
      <h2 class="snipcss-modal__title snipcss-popup-title" id="modal-editfulltask-title">       
          Pick Resolutions to Extract Styles
      </h2>
      <button class="snipcss-modal__close" aria-label="Close modal" data-micromodal-close></button>
    </div>
    <div class="snipcss-modal__content" id="snipcss-modal-content">
        <div class="snipcss-resolution-type-header">
            Large Screens
        </div>
        <div class="snipcss-checkbox-container">
            <input class="snipcss_checkbox" value="default" id="checkresolution_default" type="checkbox" {{default_checkbox}}> 
            <label class="snipcss_label" for="checkresolution_default">Desktop (current resolution)</label>        
        </div>
        <div class="snipcss-checkbox-container">
            <input class="snipcss_checkbox" value="largedesktop" id="checkresolution_largedesktop" type="checkbox" {{largedesktop_checkbox}}> 
            <label class="snipcss_label" for="checkresolution_largedesktop">Large Desktop (1920x1080)</label>        
        </div>               
        <div class="snipcss-checkbox-container">
            <input class="snipcss_checkbox" value="ipadlandscape" id="checkresolution_ipadlandscape" type="checkbox" {{ipadlandscape_checkbox}}> 
            <label class="snipcss_label" for="checkresolution_ipadlandscape">iPad Landscape (1024x768)</label>        
        </div>               
        
        <div class="snipcss-resolution-type-header">
            Mobile Screens <span class="snipcss-probadge snipcss-probadge-primary proversion">Pro Version</span>
        </div>        
        <div class="snipcss-checkbox-container">
            <input class="snipcss_checkbox" value="iphonexs" id="checkresolution_iphonexs" type="checkbox" {{iphonexs_checkbox}}> 
            <label class="snipcss_label" for="checkresolution_iphonexs">iPhone XS (320x568, zoom=2.0)</label>        
        </div>  
        <div class="snipcss-checkbox-container">
            <input class="snipcss_checkbox" value="ipadvertical" id="checkresolution_ipadvertical" type="checkbox" {{ipadvertical_checkbox}}> 
            <label class="snipcss_label" for="checkresolution_ipadvertical">iPad Vertical <span>(768x1024, zoom=2.5)</label>        
        </div>          
        <div class="snipcss-checkbox-container">
            <input class="snipcss_checkbox" value="pixel" id="checkresolution_pixel" type="checkbox" {{pixel_checked}}> 
            <label class="snipcss_label" for="checkresolution_pixel">Pixel <span>(823x411, zoom=2.5)</span></label>        
        </div>  
        <div class="warning-nopro-container">
            <p class="warning-nopro">
                With <a class="snipcss-pro-link" target="_blank" href="https://www.snipcss.com/pricing">SnipCSS Pro</a> you can select mobile resolutions 
                at the same time as other resolutions to get all responsive styles.  With the Free
                extension you can only select larger screens.
            </p>
        </div>
    </div>
    <div class="snipcss-modal__footer">
      <button id="snipcss_modal_ok" class="snipcss-button">Save</button>
    </div>
  </div>                
</div>
 