<div class="snipcss-modal__overlay" tabindex="-1">
  <div class="snipcss-modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
    <div class="snipcss-modal__header">
      <h2 class="snipcss-modal__title snipcss-popup-title" id="modal-editfulltask-title">       
          No Selection
      </h2>
      <button class="snipcss-modal__close" aria-label="Close modal" data-micromodal-close></button>
    </div>
    <div class="snipcss-modal__content" id="snipcss-modal-content">
        <p>
            {{message}}
        </p>
    </div>
    <div class="snipcss-modal__footer">
      <button id="snipcss_message_modal_ok" class="snipcss-button">Ok</button>
    </div>
  </div>                
</div>
 