         <div class="snipcss-content">
            <!--
          <a class="snipcss-brand">
            <img alt="snipcss mascot small icon" style="width:36px" src='{{snipkiwi_image}}'>
            <span class="snipcss-header">SnipCSS</span>
          </a>    
            -->
        <a id="snipcss_stopstartselection" href="javascript:void(0);" 
           class="snipcss-btn snipcss-btn-dark snipcss-btn-block snipcss-waves-effect snipcss-waves-light">Pause Selector</a>    
        <br>
        <div id="snipcss-control-container">
            <div id="snipcontrol-multipleelements-wrap" class="snipoptions-checkbox-wrap">
                <input type="checkbox" class="snipoptions-checkbox" id="checkbox_multipleelements" />
                <label class="snipoptions-checkbox-label" for="checkbox_multipleelements">Multiple Elements</label>
            </div>    
            <span class="badge badge-primary proversion">Pro Version</span>
        </div>                 
        <div class="snipcss-switch-resolution-container">
            <a id="snipcss-switch-resolution" class="snipcss-btn snipcss-btn-sm snipcss-btn-dark">Switch Resolution</a>     
        </div>
        <div id="snipcss-control-container">
            <div class='snipcss-selection-description'>
                Selection: <span id='snipcss_selectorbox'>None</span>
            </div>
            <div>
                <a id="snipcss-change-selection" class="badge badge-buttony">Change Selection</a>
            </div>
        </div>        
        <!--
        <div id="snipcss-element-selected-container">
            <div class="snipcss_element_selected_box">
                <input id="snipcss_selectortextbox" type="text" value=""/>
            </div>
        </div>
        -->
        <span id="snipcss_processing_text"></span>
        <span class="snipcss-small-direction-text">       
        </span>

        <br style="clear:both">
   
        <a id="snipcss_runsnipper" href="javascript:void(0);" 
            class="snipcss-btn snipcss-btn-info snipcss-btn-block snipcss-waves-effect snipcss-waves-light">RUN SNIPPER</a>  
            
            